*.sw?
mcrouter*.deb
mcrouter*.dsc
mcrouter*.tar.gz
mcrouter*.buildinfo
mcrouter*.changes
mcrouter*.upload
bin
mcrouter/debian/mcrouter/
*debhelper*
mcrouter/debian/mcrouter.substvars
mcrouter/debian/files
