Source: mcrouter
Section: net
Priority: optional
Maintainer: Giuseppe Lavagetto <glavagetto@wikimedia.org>
Standards-Version: 4.5.0
Homepage: https://github.com/facebook/mcrouter/wiki/
Build-Depends: debhelper (>= 10)

Package: mcrouter
Architecture: any
Depends: adduser,
         systemd,
         ${misc:Depends},
         ${shlibs:Depends}
Description: memcached protocol router
 Mcrouter is a memcached protocol router for scaling memcached
 (http://memcached.org/) deployments. It's a core component of cache
 infrastructure at Facebook and Instagram where mcrouter handles almost
 5 billion requests per second at peak.
